<div id="content" class="col-lg-10 col-lg-offset-1">

  <header id="header" class="col-lg-12" [style.background]="header_color">
    <h1>
      {{title}}
    </h1>
  </header>

  <nav id="nav" class="col-lg-12">
    <ul>
      <li>
        <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a>
      </li>
      <li>
        <a [routerLink]="['/crear-producto']" [routerLinkActive]="['activado']">Crear producto</a>
      </li>
    </ul>
  </nav>

  <section id="main" class="col-lg-12">
    <!-- Componente actual -->
    <router-outlet></router-outlet>
  </section>

  <footer id="footer" class="col-lg-12">
    <p>Curso de Angular 4 - victorroblesweb.es</p>
  </footer>
</div>
