<div class="col-lg-10 col-lg-oofset-1">
  <div class="jumbotron">
    <h2>{{titulo}}</h2>
    <p>La página que intentas cargar no existe, prueba con estos botones.</p>
    <p>
      <a [routerLink]="['/productos']" class="btn btn-lg btn-primary">Ver productos</a>
      <a [routerLink]="['/crear-producto']" class="btn btn-lg btn-success">Añadir productos</a>
    </p>
  </div>
</div>
