<div class="col-lg-10 col-lg-oofset-1">
  <div class="jumbotron">
    <h2 class="title">{{titulo}}</h2>
    <p>Gestiona tus productos con la aplicación web SPA creada con Angular desde cero</p>
    <p>
      <a [routerLink]="['/productos']" class="btn btn-lg btn-primary">Ver productos</a>
      <a [routerLink]="['/crear-producto']" class="btn btn-lg btn-success">Añadir productos</a>
    </p>
    <p>
      <button (click)="toggleTitle()">
        Mostrar/ocular título
      </button>
    </p>
  </div>
</div>
