<div *ngIf="!producto">
  <p>Cargando producto...</p>
</div>
<div class="row" *ngIf="producto">
  <div class="col-lg-4" *ngIf="producto.imagen">
    <br/>
    <img [src]="'//localhost/curso-angular4-backend/uploads/' + producto.imagen" alt="Imagen del producto" class="producto_imagen"
    />
  </div>
  <div class="col-lg-8">
    <h3>{{producto.nombre}}</h3>
    <p>
      <strong>{{producto.precio}}</strong>
    </p>
    <p>
      {{producto.descripcion}}
    </p>
  </div>
</div>
