<h4>{{titulo}}</h4>
<hr/>

<form #formProducto="ngForm" class="col-lg-6" id="form-producto" (ngSubmit)="onSubmit()">

  <label for="nombre">
    Nombre
    <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">
      El nombre es obligatorio
    </span>
  </label>
  <input type="text" #nombre="ngModel" [(ngModel)]="producto.nombre" name="nombre" id="nombre" class="form-control" required
  />

  <label for="descripcion">
    Descripción
    <span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger">
      La descripción es obligatoria
    </span>
  </label>
  <textarea #descripcion="ngModel" [(ngModel)]="producto.descripcion" name="descripcion" id="descripcion" class="form-control"
    required></textarea>

  <label for="precio">
    Precio
    <span *ngIf="!precio.valid && precio.touched" class="label label-danger">
      El precio no es correcto
    </span>
  </label>
  <input type="text" #precio="ngModel" [(ngModel)]="producto.precio" name="precio" id="precio" class="form-control" required
    pattern="[0-9]+" />

  <label for="imagen">Imagen</label>
  <div *ngIf="is_edit">
    <img [src]="'//localhost/curso-angular4-backend/uploads/' + producto.imagen" alt="Imagen del producto" class="producto_imagen"
    />
  </div>
  <input type="file" name="imagen" id="imagen" class="form-control" (change)="fileChangeEvent($event)" />

  <br/>
  <input type="submit" value="{{titulo}}" class="btn btn-success" [disabled]="!formProducto.form.valid" />
</form>
