/* You can add global styles to this file, and also import other style files */

#content {
  margin-top: 30px;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 2px 5px #ccc;
  padding: 0px;
  overflow: hidden;
}

#header {
  background: #E03137;
  color: white;
  margin: 0px;
  height: 90px;
  line-height: 90px;
}

#header h1 {
  display: block;
  line-height: 50px;
  font-weight: bold;
  font-size: 30px;
}

#nav {
  padding: 0px;
  margin: 0px;
  background: rgba(224, 49, 55, 0.57);
}

#nav ul {
  list-style: none;
  margin: 0px;
  padding-left: 20px;
}

#nav ul li {
  float: left;
  margin-right: 20px;
}

#nav ul li a {
  color: white;
  height: 30px;
  display: block;
  line-height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 300ms;
}

#nav ul li a:hover {
  text-decoration: none;
  background: #E03137;
}

.activado {
  text-decoration: none !important;
  background: #E03137 !important;
  border-bottom: 4px solid yellow !important;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding-top: 10x;
  color: gray;
}

#main .jumbotron {
  padding: 50px;
  margin-top: 30px;
  border-radius: 5px;
}

#form-producto label {
  margin-top: 10px;
}

.producto_imagen {
  height: 200px;
  margin: 0px auto;
  display: block;
}

.imagen_relleno {
  background: #ccc;
  width: 100%;
  height: 200px;
}

.imagen_container {
  width: 100%;
  overflow: hidden;
}
